# Defined here: https://gitlab.com/Concordium/devops/blob/master/base-images/base-haskell.Dockerfile
# It caches the installation of tools and libs our build process needs
# Update the above file if you need other tools installing in CI
# WARNING:
#   If you get this URL wrong, you'll find you job gets stuck as "pending"
#   forever as it tries to look for a running with an image it will never find!
image: 192549843005.dkr.ecr.eu-west-1.amazonaws.com/concordium/base-haskell:0.10

variables:
  STACK_ROOT: "${CI_PROJECT_DIR}/.stack"
  GIT_SUBMODULE_STRATEGY: recursive

cache:
  paths:
    - .stack
    - .stack-work
    - target

simple-client-build-and-test:
  script:
    - "git config --global url.https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.com/.insteadOf ssh://git@gitlab.com:22/"
    - "./build-deps.sh"
    - "LD_LIBRARY_PATH=$(pwd)/deps/crypto/rust-src/target/release:$LD_LIBRARY_PATH stack build --ghc-options -j4 | ts '[%Y-%m-%d %H:%M:%.S]'"
    - "LD_LIBRARY_PATH=$(pwd)/deps/crypto/rust-src/target/release:$LD_LIBRARY_PATH stack test | ts '[%Y-%m-%d %H:%M:%.S]'"

middleware-build-and-test:
  script:
    - "git config --global url.https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.com/.insteadOf ssh://git@gitlab.com:22/"
    - "./build-deps.sh"
    - "LD_LIBRARY_PATH=$(pwd)/deps/crypto/rust-src/target/release:$LD_LIBRARY_PATH stack build  --flag 'simple-client:middleware' --ghc-options -j4 | ts '[%Y-%m-%d %H:%M:%.S]'"
