[submodule "deps/acorn"]
	path = deps/acorn
	url = ../../oak/acorn.git
[submodule "deps/crypto"]
	path = deps/crypto
	url = ../../crypto.git
[submodule "deps/globalstate-types"]
	path = deps/globalstate-types
	url = ../globalstate-types.git
[submodule "deps/grpc-api"]
	path = deps/grpc-api
	url = ../../grpc-api.git
[submodule "deps/globalstate-mockup"]
	path = deps/globalstate-mockup
	url = ../globalstate-mockup
